@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  scroll-behavior: smooth;
  @apply bg-charcoal-800 text-gold;
}

body::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

section {
  animation: fadeIn 1s;
  animation-fill-mode: both;
}

@for $i from 2 through 50 {
  section:nth-of-type(#{$i}) {
    animation-delay: $i * 0.1s;
  }
}

.text-balance {
  text-wrap: balance;
}

.drawer-bg {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::--webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 673px) {
    @apply border-r border-[#a286688e];
  }
}

::selection {
  @apply bg-brass text-charcoal-700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-safe-area {
    overflow-y: auto;
    min-height: 100dvh;
    padding-bottom: calc(env(safe-area-inset-bottom) + 10rem);
    min-height: -webkit-fill-available;
  }
}