@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-gold bg-charcoal-800;

}

.text-balance {
  text-wrap: balance;
}

.h-dynamic {
  min-height: 100vh;
  min-height: 100svh;
}

.drawer-bg {
  @apply absolute flex flex-col justify-between left-0 top-0 shadow-xl overflow-y-auto backdrop-blur-sm bg-opacity-80 lg:bg-opacity-50 bg-charcoal-700 transition-all duration-500 ease-in-out h-full max-w-2xl px-4 py-4 md:px-12 md:py-8 transform w-full;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::--webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 673px) {
    @apply border-r border-[#a286688e]
  }

}

.embla {
  @apply m-auto;
}

.embla__viewport {
  @apply overflow-hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  align-items: stretch;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 100%;
  @apply px-4 2xl:px-0 flex min-w-0 w-full;
}

.embla__slide__img {
  @apply block w-full object-cover h-full rounded-sm border border-brass;
}

.embla__buttons {
  @apply justify-center flex gap-8 items-center mt-4 lg:mt-12;
}

.embla__button {
  @apply text-2xl border rounded-full p-4 border-gold hidden lg:block;
}

.embla__slide__img {
  user-select: none;
}